.#*
*~
*#
backup/
**/backup-files
base/10_append_backup_to_etc_hosts.inc.sh
base/20_create_rsnapshot_conf.inc.sh
base/21_tune_rsync_conf.sh
base/40_create_ssl_certificate_openssl.inc.sh
base/create_ssl_certificate.inc.sh
base/create-ssl-certificate.inc.sh
base/create-ssl-certificate-openssl.inc.sh
base/dry-wit
base/exim.00_local_macros
base/help-files
base/logger
base/monit-files
base/monit-mail.conf.template
base/remote-rsyslogd.conf
base/restart
*/.build*
\.build.inc.sh*
.build-settings.sh
.build.sh.*
**/check-version-files
*/common-files
*/copyright-preamble.*
copyright-preamble.*
*/copyright-preamble.acmsl.txt
*/create_ssl_certificate-files/*
**/create_ssl_certificate-files/create_ssl_certificate.inc.sh
**/cron-files
Dockerfile
*/Dockerfile
*/filebeat-files
*/git-files
.gradle
gradle-daemon/service
**/gradle-files
**/gui-files
*/help
**/install-files
*/java-files
*/LICENSE.*
**/LICENSE
LICENSE.*
**/locale-files
*.log
*/logstash-files
*/metricbeat-files
*/mongodb-files
**/nginx-files
*/packetbeat-files
**/phabricator-files
*/README
**/rsnapshot-files
*/rsyslog-files
.rt-client.sh-push.lock
.rt-projects
*/runme
**/ssh-files
*/syslog-files
.templates/copy-metadata
.templates/gradle
.templates/install
.templates/instructions
.templates/java
.templates/maintainer
.templates/preamble
*/tomcat-files
*/volumes-files/*
